.circle {
  width: 1500px;
  height: 2800px;
  border-radius: 50%;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  transform: translate(70%, -50%);
  box-shadow: 20px 20px 20px rgba($color: #000000, $alpha: 0.1);
  transition: 0.5s ease;
  border: none;
  float: right;

  .bg {
    opacity: 0;
  }

  .user {
    width: 170px;
    height: 170px;
    position: relative;
    top: 1500px;
    left: 100px;
    background-color: #e6e6e6;
    border-radius: 50%;
    transition: 0.2s ease;
    .icon {
      font-size: 150px;
    }
  }

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 1);
    cursor: pointer;
  }

  &:focus {
    transform: translate(50%, -50%);
    background-color: rgba($color: #ffffff, $alpha: 1);
    cursor: auto;

    .user {
      opacity: 0;
    }

    .bg {
      opacity: 1;
      width: 500px;
      height: 360px;
      position: relative;
      top: 1500px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      box-shadow: rgba($color: #000000, $alpha: 0.3);
      border-radius: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition: 0.5s ease;

      .inputBox {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;

        .label {
          width: 100px;
          span {
            text-align: justify;
          }
          text-align: justify;
        }
      }
    }
  }
}
