.breadCrumb {
  // margin-left: 50px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.sider {
  background: #fff !important;
  position: relative;
  z-index: 10;
  overflow: auto;
  height: 100vh;
}

.content {
  padding-left: 50px;
  background: transparent;
}

.bg {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  height: 85vh;
  border-radius: 15px;
  padding: 40px;
  margin-right: 30px;
}
